@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'badges';

html {
    cursor: default;

    ::selection {
        background: #b3d4fc !important;
        text-shadow: none;
    }

    label {
        cursor: pointer;
        width: fit-content;
    }

    input {
        &[type='checkbox'] {
            cursor: pointer;
        }
    }

    .icon-hover {
        padding: 5px;
        border-radius: 50%;
        transition: .3s;

        &:hover {
            background-color: #ddd;
        }
    }
}
